{% extends 'strains_supply/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<div class="row justify-content-center">
  <div class="col col-md-10 col-lg-8">
    <h1>Прием поставки №{{ supply.pk }}</h1>

    {% include 'strains_supply/snippets/supply_details_card.html' with supply=supply %}

    <ol class="form-steps form-steps-3">
      <li class="form-step {% if step == 1 %}active{% elif step > 1%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-calendar-check"></span>
        </div>
        <span class="step-description">Дата приема<span></li>
      <li class="form-step {% if step == 2 %}active{% elif step > 2%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-list-ul"></span>
        </div>
        <span class="step-description">Содержимое поставки</li>
      <li class="form-step {% if step == 3 %}active{% elif step > 3%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-chat-left-text"></span>
        </div>
        <span class="step-description">Коментарий</li>
    </ol>
    {% if step == 2 and not edit %}
      {% include 'strains_supply/snippets/form_supplycontent.html' with formset=formset %}
    {% elif step == 2 %}
      {% include 'strains_supply/snippets/form_supplycontent.html' with formset=formset mode='edit' %}
    {% else %}
    <form method="POST" class="post-form">{% csrf_token %}
      {% bootstrap_form form %}
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        {% if step < 3 %}
        <button type="submit" class="btn btn-primary">
          Далее <span class="bi bi-arrow-right"></span>
        </button>
        {% else %}
        <button type="submit" class="btn btn-success">
          Завершить прием
        </button>
        {% endif %}
     </div>
    </form>
    {% endif %}

    <div>
    </div>
  </div>
</div>
{% endblock %}
