{% extends 'strains_supply/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<div class="row justify-content-center">
  <div class="col col-md-8 col-lg-8">
    <h1>Прием поставки №{{ supply.pk }}</h1>

    {% include 'strains_supply/snippets/supply_details_card.html' with supply=supply %}

    <ol class="form-steps form-steps-3">
      <li class="form-step {% if step == 1 %}active{% elif step > 1%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-calendar-check"></span>
        </div>
        <span class="step-description">Дата приема<span></li>
      <li class="form-step {% if step == 2 %}active{% elif step > 2%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-list-ul"></span>
        </div>
        <span class="step-description">Содержимое поставки</li>
      <li class="form-step {% if step == 3 %}active{% elif step > 3%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-chat-left-text"></span>
        </div>
        <span class="step-description">Коментарий</li>
    </ol>
    {% if step == 2 %}
    <form method="POST" id="form-container" class="post-form">
      {% csrf_token %}
      {{ form.management_form }}
      {% for supply_form in form %}
      <div class="sample-form">
        <hr>
        {% bootstrap_form supply_form layout='horizontail' %}
      </div>
      {% endfor %}

      <div class="row justify-content-center add-item-block">
        <div class="col">
          <button id="add-form" class="btn btn-secondary" type="button">
            <span class="bi bi-plus-lg"></span> Добавить еще пункт
          </button>
        </div>
      </div>

      <hr>
      <button type="submit" class="btn btn-primary">
        Отправить
      </button>
    </form>

    {% else %}
    <form method="POST" class="post-form">{% csrf_token %}
      {% bootstrap_form form %}
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        {% if step < 3 %}
        <button type="submit" class="btn btn-primary">
          Далее <span class="bi bi-arrow-right"></span>
        </button>
        {% else %}
        <button type="submit" class="btn btn-success">
          Завершить прием
        </button>
        {% endif %}
     </div>
    </form>
    {% endif %}

    <div>
    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}
{{  block.super }}
<script>

(function() {
  {% comment %} const form = document.forms[0] {% endcomment %}
  {% comment %} sendBtn = form.querySelector('button[type="submit"]') {% endcomment %}
  {% comment %} console.log(form); {% endcomment %}
  {% comment %} console.log(sendBtn, '-------'); {% endcomment %}

  let supplyContentForms = document.querySelectorAll('.sample-form')
  let container = document.querySelector("#form-container")
  console.log(container, 'container')
  let addButton = document.querySelector("#add-form")
  let addButtonsBlock = document.querySelector(".add-item-block")
  let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

  let formNum = supplyContentForms.length -1
  addButton.addEventListener('click', addForm)

  function addForm(e) {
    e.preventDefault()

    console.log(supplyContentForms)
    let newForm = supplyContentForms[0].cloneNode(true)
    let formRegex = RegExp(`form-(\\d){1}-`, 'g')

    formNum++
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
    console.log(container, newForm, addButtonsBlock)
    container.insertBefore(newForm, addButtonsBlock)
    totalForms.setAttribute('value', `${formNum+1}`)
  }
})();

</script>
{% endblock %}

