{% extends 'strains_supply/base.html' %}


{% load django_bootstrap5 %}

{% block content %}

<div class="row justify-content-center">
  <div class="col col-md-8 col-lg-6">
    <h1>Добавить поставку</h1>
    <ol class="form-steps form-steps-4">
      <li class="form-step {% if step == 1 %}active{% elif step > 1%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-building"></span>
        </div>
        <span class="step-description">Откуда<span></li>
      <li class="form-step {% if step == 2 %}active{% elif step > 2%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-building"></span>
        </div>
        <span class="step-description">Куда</li>
      <li class="form-step {% if step == 3 %}active{% elif step > 3%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-box-seam"></span>
        </div>
        <span class="step-description">Детали поставки</li>
      <li class="form-step {% if step == 4 %}active{% endif %}">
        <div class="step-icon">
          <span class="bi bi-check-lg"></span>
        </div>
        <span class="step-description">Подтверждение</li>
    </ol>
</div>
<div class="row justify-content-center">
  <div class="col col-md-8 col-lg-6">
    <form method="POST" class="post-form">
      {% csrf_token %}
      {% bootstrap_form form %}

      <hr>
      <div class="d-grid gap-2 d-md-flex {% if step == 1 %} justify-content-end {% else %} justify-content-between {% endif %}">
        {% if step > 1 %}
        <button type="submit" name="back" class="btn btn-secondary">
          <span class="bi bi-arrow-left">
          Назад
        </button>
        {% endif %}


        {% if step == 4 %}
        <button type="submit" class="btn btn-success">
          Сохранить
        </button>
        {% else %}
        <button type="submit" class="btn btn-primary">
          Далее <span class="bi bi-arrow-right"></span>
        </button>
        {% endif %}
      </div>

    </form>
    {% comment %} {% if step %}
    <form method="POST" class="post-form">{% csrf_token %}
      {% bootstrap_form form %}
   </form>
    {% endif %}
  </div> {% endcomment %}
</div>


{% endblock %}

{% block scripts %}
{{  block.super }}
<script>
(function() {
  /* Hide alternative field if select field value is not empty */
  select = document.getElementsByTagName('select')[0];

  const hideAltFields = (form) => {
    alternative_fields  = form.querySelectorAll("input[data-choose-item]")
    alternative_fields_labels  = form.querySelectorAll("input[data-choose-item]")
    alternative_fields.forEach((input) => {
      input.closest('div').style.display = 'none';
      input.setAttribute('type', 'hidden');
    })
  }

  const showAltFields = (form) => {
    alternative_fields  = form.querySelectorAll("input[data-choose-item]")
    alternative_fields_labels  = form.querySelectorAll("input[data-choose-item]")
    alternative_fields.forEach((input) => {
      input.closest('div').style.display = 'block';
      input.setAttribute('type', 'text');
    })
  }
  if (select.value) {
    let form = select.closest('form')
    hideAltFields(form)
  }
  select.onchange = (event) => {
    target = event.target;
    form = target.closest('form');
    alternative_fields  = form.querySelectorAll("input[data-choose-item]")
    alternative_fields_labels  = form.querySelectorAll("input[data-choose-item]")
    if (event.target.value) {
      hideAltFields(form)
    } else {
      showAltFields(form)
    }
  }
})();
</script>
{% endblock %}

