{% extends 'strains_supply/base.html' %}

{% block content %}

<div class="row justify-content-center">
  <div class="col col-md-12 col-lg-10">
    <div class="header-group">
      <h1>Поставки</h1>
      <a class="btn btn-primary btn-sm" href="{% url 'supply_new' %}">
        <span class="bi bi-plus-lg"><span>
            Добавить поставку
      </a>
    </div>
    <table class="table table-sm">
      <thead>
        <th scope="col">ID</th>
        <th scope="col">Лечебное учреждение</th>
        <th scope="col">Филиал</th>
        <th scope="col" class="text-nowrap">Дата отправки</th>
        <th scope="col">Количество</th>
        <th scope="col" class="text-nowrap">Дата приема</th>
      </thead>
      <tbody>
        {% for item in supply_list %}
        <tr>
          <td>{{ item.pk }}</td>
          <td>
            {{ item.source.name }}
            <br>
            <small class="text-muted">
              {{ item.source.city.name }}
              <small>
          </td>
          <td>{{ item.dest }}</td>
          <td>
            {% if item.sent_at %}
              {{ item.sent_at }}
            {% elif item.suggested_sent_date %}
            <span class="text-nowrap text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Предполагаемая дата">
              {{ item.suggested_sent_date }}
              <small class="bi bi-exclamation-triangle-fill text-black-50"></small>
            </span>
            {% endif %}
          </td>
          <td>
            {% if item.num %}
              {{ item.num }}
            {% elif item.suggested_num %}
            <span class="text-nowrap text-muted" data-bs-toggle="tooltip" data-bs-placement="top"
              title="Предполагаемое количество">
              {{ item.suggested_num }}
              <small class="bi bi-exclamation-triangle-fill text-black-50"></small>
            </span>
            {% endif %}
            <small class="text-muted"></small>
          </td>
          <td>{% if item.received_at %}{{ item.received_at }}{% endif %}</td>
          {% empty %}
          Еще нет поставок
          {% endfor %}
      <tbody>
    </table>

    {% endblock %}}
