{% extends 'strains_supply/base.html' %}


{% load django_bootstrap5 %}

{% block content %}

<div class="row justify-content-center">
  <div class="col col-md-8 col-lg-6">
    <h1>Добавить поставку</h1>
    <ol class="form-steps">
      <li class="form-step {% if step == 1 %}active{% elif step > 1%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-building"></span>
        </div>
        <span class="step-description">Откуда<span></li>
      <li class="form-step {% if step == 2 %}active{% elif step > 2%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-building"></span>
        </div>
        <span class="step-description">Куда</li>
      <li class="form-step {% if step == 3 %}active{% elif step > 3%} success{% endif %}">
        <div class="step-icon">
          <span class="bi bi-box-seam"></span>
        </div>
        <span class="step-description">Детали поставки</li>
      <li class="form-step {% if step == 4 %}active{% endif %}">
        <div class="step-icon">
          <span class="bi bi-check-lg"></span>
        </div>
        <span class="step-description">Подтверждение</li>
    </ol>
</div>
<div class="row justify-content-center">
  <div class="col col-md-8 col-lg-6">
    {% if step %}
    <form method="POST" class="post-form">{% csrf_token %}
      {% bootstrap_form form %}
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        {% if prev %}
        <a href="{{ prev }}" class="btn btn-secondary">
          <span class="bi bi-arrow-left"></span> Назад
        </a>
        {% endif %}
        {% if step == 4 %}
        <button type="submit" class="btn btn-success">
          Сохранить
        </button>
        {% else %}
        <button type="submit" class="btn btn-primary">
          Далее <span class="bi bi-arrow-right"></span>
        </button>
        {% endif %}
      </div>
    </form>
    {% endif %}
  </div>
</div>


{% endblock %}

{% block scripts %}
{{  block.super }}
<script>
(function() {
  /* Hide alternative field if select field value is not empty */
  select = document.getElementsByTagName('select')[0];
  if (select) {
    select.onchange = (event) => {
      target = event.target;
      form = target.closest('form');
      alternative_fields  = form.querySelectorAll("input[data-choose-item]")
      alternative_fields_labels  = form.querySelectorAll("input[data-choose-item]")
      if (event.target.value) {
        alternative_fields.forEach((input) => {
          input.closest('div').style.display = 'none';
          input.setAttribute('type', 'hidden');
        });
      } else {
        alternative_fields.forEach((input) => {
          input.closest('div').style.display = 'block';
          input.setAttribute('type', 'text');
        });
      }
    }
  }
})();
</script>
{% endblock %}

