[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django-bootstrap5 = "*"
django-filter = "*"
django-haystack = "*"
install = "*"
elasticsearch = ">=7.0.0,<8.0.0"
gunicorn = "*"
django-computed-property = "*"
numpy = "*"
pillow = ">=9.0.0"
requests = "*"
bumpversion = "*"
django-colorfield = "*"
django = ">=3,<4"
whitenoise = "*"
django-environ = "*"
django-debug-toolbar = "*"
django-extensions = "*"
uvicorn = "*"

[dev-packages]
pylint = "*"
mypy = "*"
pylint-django = "*"
ipdb = "*"
yapf = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
