{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'organization_list' %}">Организации</a></li>
    <li class="breadcrumb-item active" aria-current="page">Редактироваение организации</li>
  </ol>
</nav>

{% include 'snippets/page_header.html' with name=page_name url_new=url_new icon_name='bi-person-fill' button_name='Редактировать' %}

<div class="row">
  <div class="col col-md-12 col-lg-10">
    <dl class="row">
      <dt class="col-sm-4 col-md-3 text-truncate">Фамилия</dt>
      <dd class="col-sm-8 col-md-9">{{ obj.last_name }}</dd>
      <dt class="col-sm-4 col-md-3 text-truncate">Имя</dt>
      <dd class="col-sm-8 col-md-9">{{ obj.first_name }}</dd>
      <dt class="col-sm-4 col-md-3 text-truncate">Отчество</dt>
      <dd class="col-sm-8 col-md-9">{{ obj.middle_name }}</dd>
      <dt class="col-sm-4 col-md-3 text-truncate">Ученая степень</dt>
      <dd class="col-sm-8 col-md-9">{{ obj.degree }}</dd>
      <dt class="col-sm-4 col-md-3 text-truncate">Должность</dt>
      <dd class="col-sm-8 col-md-9">{{ obj.role }}</dd>

      <dt class="col-sm-4 col-md-3 text-truncate text-muted">Добавил</dt>
      <dd class="col-sm-8 col-md-9 text-muted">{{ obj.inserted_by.get_full_name }}</dd>
      <dt class="col-sm-4 col-md-3 text-truncate text-muted">Добавлено</dt>
      <dd class="col-sm-8 col-md-9 text-muted">{{ obj.inserted_at }}</dd>

      <dt class="col-sm-4 col-md-3 text-truncate text-muted">Отредактировал</dt>
      <dd class="col-sm-8 col-md-9 text-muted">{{ obj.updated_by.get_full_name }}</dd>
      <dt class="col-sm-4 col-md-3 text-truncate text-muted">Отредактировано</dt>
      <dd class="col-sm-8 col-md-9 text-muted">{{ obj.updated_at }}</dd>
    </dl>
  </div>
</div>

{% endblock %}