{% extends 'organizations/base.html' %}

{% block content %}
{# Display a form #}
{% if not organizations %}
В базе еще нет компаний. <a href='/add'>Добавить</a>
{% endif %}

<h1>Последние добавленные организации</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for org in organizations %}
    <div class="col">
        <div class="card text-dark bg-light h-100">
            <div class="card-body">
                <h5 class="card-title">{{ org.name }}</h5>
                <p class="card-text">{% firstof org.activity_description '' %}</p>

                <div class="card-meta-block">
                    <p class="card-text">{{ org.country }}</p>

                    <p class="card-text">
                        <small class="text-muted">Добавлено: {{ org.inserted_at }},
                            пользователем {{ org.inserted_by }}</small></p>
                    <a href="{% url 'organization_detail' pk=org.pk %}"
                       class="card-link">Просмотреть</a>
                </div>
                {% comment %} <a href="#" class="card-link">Another link</a> {% endcomment %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}