{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Главная</li>
        <li class="breadcrumb-item active">Последние добавленные организации</li>
      </ol>
    </nav>
  </div>
</div>
<div class="header-group">
  <div class="row">
    <div class="col">
      <h1>Последние добавленные организации</h1>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
  {% for org in organizations %}
  <div class="col col-md-6 col-lg-3">
    <div
      class="card organization-card {% if org.theme_is_dark %} text-white bg-dark {% else %} text-dark bg-light{% endif %}">
      {% if org.image %}
      <div class="organization-card-background">
        <img src="{{ org.image }}">
      </div>
      {% endif %}
      <div class="card-body">
        <div class="text-block logo">
          <a href="{{ org.site }}" alt="Открыть сайт организации" target="_blank">
          {% if org.logo %}
            <img src="{{ org.logo }}" alt="Логотип">
          {% else %}
            <h5 class="card-title"><a class="text-reset" href="{% url 'organization_detail' pk=org.pk %}">{{ org.name }}</a>
            </h5>
          {% endif %}
          </a>
        </div>
        <div class="text-block description">
          <div class="organization-card-title">
            <h5 class="card-title mb-2 text-muted">
              <strong>{{ org.name }}</strong> {{ org.countries.all|join:", " }}</h5>
            <a class="organization-card-title-site text-reset" href="{{ org.site }}"
               target="_blank" alt="Сайт организации">{{ org.site }}</a>
          </div>
          <p class="card-text text-small organization-card-meta">
              <a class="text-reset" href="{% url 'organization_detail' pk=org.pk %}">
                <span class="bi bi-box-arrow-up-right"></span></a>
          </p>
          <!-- <small class="meta text-muted">Добавлено: {{ org.inserted_at }}</small> -->
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col">
    <p>В базе данных еще нет организаций.</p>
    <a class="btn btn-primary" href="{% url 'organization_new' %}">
      <span class="bi bi-plus-lg"></span>
      Добавить организацию
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
