{% extends 'organizations/base.html' %}

{% load django_bootstrap5 %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1><span class="bi bi-building"></span> Организации</h1>
        </div>
        <div class="col text-end h1-group">
            <a href="{% url 'organization_new' %}" class="btn btn-primary">
                <span class="bi bi-plus-circle-fill"></span>
                Добавить организацию
            </a>
        </div>
    </div>

    <div>
      <h5>Фильтр</h5>
      <form class="row g-4" method="get">
        {% bootstrap_field filter.form.name show_label=False size='sm' wrapper_class='col-auto' %}
        {% bootstrap_field filter.form.country show_label=False size='sm' wrapper_class='col-auto' %}
        {% bootstrap_field filter.form.city show_label=False size='sm' wrapper_class='col-auto' %}

        <div class="col-auto">
         <button type="submit" class="btn btn-secondary btn-sm">
            <span class="bi bi-funnel-fill"></span>
            Применить фильтр
          </button>
        </div>
      </form>
    </div>

    {% if not organizations_page.object_list %}
    <p class="text-center" style="padding: 5em;">
        Организаций с такими параметрами не найдено
    </p>
    {% else %}
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Название организации</th>
                <th scope="col">Страна</th>
                <th scope="col">Город</th>
                <th scope="col">Основные проекты</th>
            </tr>
        </thead>
        <tbody>
            {% for org in organizations_page.object_list %}
            <tr>
                <td><a href="{% url 'organization_detail' pk=org.pk %}"
                       class="card-link">{{ org.name }}</a>
                </td>
                <td>{{ org.country }}</td>
                <td>{{ org.city }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'organizations/snippets/pagination.html' with obj_page=organizations_page query_params=filter_fields %}

    {% endif %}

{% endblock %}
