{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'organization_list' %}">Организации</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ organization.name }}</li>
  </ol>
</nav>

<div class="row">
  <div class="col col-md-12 col-lg-10">
    <h1><span class="bi bi-building"></span> {{ organization.name }}</h1>
    <dl class="row">
    <dt class="col-sm-4 col-md-3">Страна</dt>
    <dd class="col-sm-8 col-md-9">{{ organization.country }}</dd>

    <dt class="col-sm-4 col-md-3">Адрес</dt>
    <dd class="col-sm-8 col-md-9">{{ organization.address }}</dd>

    <dt class="col-sm-4 col-md-3">Сайт</dt>
    <dd class="col-sm-8 col-md-9"><a href="{{ organization.site }}">{{ organization.site }}</a></dd>

    <dt class="col-sm-4 col-md-3 text-truncate">Описание деятельности</dt>
    <dd class="col-sm-8 col-md-9">{% firstof organization.activity_description '' %}</dd>

    <dt class="col-sm-4 col-md-3">Проекты</dt>
    <dd class="col-sm-8 col-md-9">
        <ul>
            {% for project in organization.project_set.all %}
            <li>
              <a href="{% url 'project_detail' pk=project.pk %}"
                 class="card-link">{{ project.name }}
              </a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'project_new' %}?organization={{organization.pk}}" class="btn btn-secondary btn-sm">
            <span class="bi bi-plus-circle-fill"></span>
            Добавить проект
        </a>
    </dd>

    <dt class="col-sm-4 col-md-3 text-truncate text-muted">Время добавления</dt>
    <dd class="col-sm-8 col-md-9 text-muted">{{ organization.inserted_at }}</dd>

    <dt class="col-sm-4 col-md-3 text-truncate text-muted">Добавил пользователь</dt>
    <dd class="col-sm-8 col-md-9 text-muted">{{ organization.inserted_by }}</dd>
    </dl>

    <a class="btn btn-outline-primary" href="{% url 'organization_edit' pk=organization.pk %}">
      <span class="bi bi-pencil-fill"></span> Редактировать
    </a>


  </div>
</div>

{% endblock %}