{% extends 'organizations/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% comment %} <li class="breadcrumb-item"><a href="{% url 'main_page' %}">Главная</a></li> {% endcomment %}
    <li class="breadcrumb-item"><a href="{% url 'organization_list' %}">Организации</a></li>
    <li class="breadcrumb-item active" aria-current="page">Новая организация</li>
  </ol>
</nav>

<div class="row">
  <div class="col col-md-8 col-lg-6">
    <h1><span class="bi bi-building"></span> Новая организация</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="save btn btn-success">
            <span class="bi bi-check-circle"></span> Сохранить
        </button>
    </form>
  </div>
</div>

{% endblock %}