{% extends 'organizations/base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'project_list' %}">Проекты</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
      </ol>
    </nav>
  </div>
</div>

<div class="header-group">
  <div class="row">
    <div class="col">
      <h1>{{ project.name }}</h1>
    </div>
    {% if perms.organizations.edit_project %}
    <div class="col col-md-auto">
      <a href="{% url 'project_edit' pk=project.pk %}" class="btn btn-outline-primary btn-sm btn-lisnk">
        <span class="bi bi-pencil-fill"></span>
        Редактировать
      </a>
    </div>
    {% endif %}
  </div>
</div>

<div class="row detail-block">
  <div class="col">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th style="width: 30%">Страна</th>
          <td>{{ project.organization.countries.all|join:", " }}</td>
        </tr>
        <tr>
          <th>Организация</th>
          <td>
            <span class="bi bi-building text-muted"></span>
            <a href="{% url 'organization_detail' pk=project.organization.pk %}"
              class="card-link">{{ project.organization.name }}</a>
          </td>
        </tr>
        <tr>
          <th>Ведущия научный сотрудник</th>
          <td>
            <span class="bi bi-person-fill text-muted"></span>
            {{ project.lead_scientist }}
          </td>
        </tr>
        <tr>
          <th>Область применения</th>
          <td>{{ project.application_scope }}</td>
        </tr>
        <tr>
          <th>Описание</th>
          <td>{{ project.description }}</td>
        </tr>
        <tr>
          <th>Прогресс</th>
          <td>{% firstof project.progress '' %}</td>
        </tr>
        <tr>
          <th class="text-truncate text-muted">Добавил</th>
          <td class="text-muted">
            <span class="bi bi-person-circle text-muted"></span>
            {% firstof project.inserted_by.get_full_name project.inserted_by.username|title %}</td>
        </tr>
        <tr>
          <th class="text-truncate text-muted">Добавлено</th>
          <td class="text-muted">
            <span class="bi bi-calendar-date text-muted"></span>
            {{ project.inserted_at }}</td>
        </tr>
        <tr>
          <th class="text-truncate text-muted">Отредактировал</th>
          <td class="text-muted">
            <span class="bi bi-person-circle text-muted"></span>
            {% firstof project.updated_by.get_full_name project.updated_by.username|title %}</td>
        </tr>
        <tr>
          <th class="text-truncate text-muted">Отредактировано</th>
          <td class="text-muted">
            <span class="bi bi-calendar-date text-muted"></span>
            {{ project.updated_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
