{% extends 'organizations/base.html' %}

{% load django_bootstrap5 %}

{% block content %}
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Проекты</li>
        <li class="breadcrumb-item active">Все проекты</li>
      </ol>
    </nav>
  </div>
</div>

<div class="header-group">
  <div class="row">
    <div class="col">
      <h1>Все проекты</h1>
    </div>
    {% if perms.organizations.add_project %}
    <div class="col col-md-auto">
      <a href="{% url 'project_new' %}" class="btn btn-outline-primary btn-sm btn-lisnk">
        <span class="bi bi-plus-lg"></span>
        Добавить проект
      </a>
    </div>
    {% endif %}
  </div>
</div>

<div class="filter-box-wrapper texts-white bgs-secondary">
  <form class="row filter-box" method="get">
    {% bootstrap_field filter.form.name show_label=True size='sm' wrapper_class='col-md-3 col-lg-3' %}
    {% bootstrap_field filter.form.organization show_label=True size='sm' wrapper_class='col-md-3 col-lg-2' %}
    {% bootstrap_field filter.form.application_scope show_label=True size='sm' wrapper_class='col-md-3 col-lg-2' %}
    {% bootstrap_field filter.form.progress show_label=True size='sm' wrapper_class='col-md-3 col-lg-2' %}
    <div class="col-md-3 col-lg-3 filter-box-buttons text-nowrap">
      <a href="?page={{ current_page }}&order_by={{ order_by }}" class="btn btn-outline-secondary btn-sm col-md-6 col-lg-6">
        <span class="bi bi-x-lg"></span>
        Сбросить
      </a>
      <button type="submit" class="btn btn-secondary btn-sm col-lg-6">
        <span class="bi bi-funnel-fill"></span>
        Применить
      </button>
    </div>
  </form>
</div>

{% if not projects_page.object_list %}
<p class="text-center" style="padding: 5em;">
  Проекты с указанными параметрами не найдены
</p>
{% else %}

<table class="table table-md">
  <thead>
    <tr>
      <th scope="col">
        <span class="text-nowrap">
          Название
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='name' current_order=current_order %}
        </span>
      </th>
      <th scope="col">
        <span class="text-nowrap">
          Организация
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='organization' current_order=current_order %}
        </span>
      </th>
      <th scope="col">
        Ведущий научный
        <span class="text-nowrap">
          сотрудник
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='lead_scientist' current_order=current_order %}
        </span>
      </th>
      <th scope="col">
        Сфера
        <span class="text-nowrap">
          применения
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='application_scope' current_order=current_order %}
        </span>
      </th>
      <th scope="col">
        <span class="text-nowrap">
          Прогресс
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='progress' current_order=current_order %}
        </span>
      </th>
      <th scope="col">
        <span class="text-nowrap">
          Добавлено
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='inserted_at' current_order=current_order %}
        </span>
      </th>
      <th scope="col">
        <span class="text-nowrap">
          Добавил
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='inserted_by' current_order=current_order %}
        </span>
      </th>
      <th scope="col">
        <span class="text-nowrap">
          Изменено
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='updated_at' current_order=current_order %}
        </span>
      </th>
      <th scope="col">
        <span class="text-nowrap">
          Изменил
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='updated_by' current_order=current_order %}
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for proj in projects_page.object_list %}
    <tr>
      <td>
        <a href="{% url 'project_detail' pk=proj.pk %}" class="card-link">{{ proj.name }}
        </a>
      </td>
      <td>
        <a href="{% url 'organization_detail' pk=proj.organization.pk %}" class="card-link">{{ proj.organization }}
        </a>
      </td>
      <td>{{ proj.lead_scientist }}</td>
      <td>{{ proj.application_scope }}</td>
      <td>{{ proj.progress }}</td>
      <td class="text-muted">{{ proj.inserted_at }}</td>
      <td class="text-muted">{% firstof proj.inserted_by.get_full_name proj.inserted_by.username %}</td>
      <td class="text-muted">{{ proj.updated_at }}</td>
      <td class="text-muted">{% firstof proj.updated_by.get_full_name proj.updated_by.username %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'organizations/snippets/pagination.html' with obj_page=projects_page query_params=filter_fields %}

{% endif %}

{% endblock %}
