{% extends 'organizations/base.html' %}

{% load django_bootstrap5 %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1><span class="bi bi-box"></span> Проекты</h1>
        </div>
        <div class="col text-end h1-group">
            <a href="{% url 'project_new' %}" class="btn btn-primary">
                <span class="bi bi-plus-circle-fill"></span>
                Добавить проект
            </a>
        </div>
    </div>

    <div>
      <h5>Фильтр</h5>
      <form class="row g-3" method="get">
        {% bootstrap_field filter.form.name show_label=False size='sm' wrapper_class='col-auto' %}
        {% bootstrap_field filter.form.organization show_label=False size='sm' wrapper_class='col-md-4' %}
        {% bootstrap_field filter.form.application_scope show_label=False size='sm' wrapper_class='col-auto' %}
        {% bootstrap_field filter.form.progress show_label=False size='sm' wrapper_class='col-auto' %}
        <div class="col-auto">
         <button type="submit" class="btn btn-secondary btn-sm">
            <span class="bi bi-funnel-fill"></span>
            Применить фильтр
          </button>
        </div>
      </form>
    </div>

    {% if not projects_page.object_list %}
    <p class="text-center" style="padding: 5em;">
        В базе данных еще нет проектов.
        <a href="{% url 'project_new' %}">
            <span class="bi bi-plus"></span>
            Добавить
        </a>
    </p>
    {% else %}

    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Название проекта
                {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='name' current_order=current_order %}
                {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-name' current_order=current_order %}
                </th>
                <th scope="col">Организация
                {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='organization' current_order=current_order %}
                {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-organization' current_order=current_order %}
                </th>
                <th scope="col">Ведущий научный сотрудник
                {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='lead_scientist' current_order=current_order %}
                {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-lead_scientist' current_order=current_order %}
                </th>
                <th scope="col">Сфера применения
                {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='application_scope' current_order=current_order %}
                {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-application_scope' current_order=current_order %}
                </th>
                <th scope="col">Уровень прогресса
                {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='progress' current_order=current_order %}
                {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-progress' current_order=current_order %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for proj in projects_page.object_list %}
            <tr>
                <td>
                    <a href="{% url 'project_detail' pk=proj.pk %}"
                       class="card-link">{{ proj.name }}
                    </a>
                </td>
                <td>{{ proj.organization }}</td>
                <td>{{ proj.lead_scientist }}</td>
                <td>{{ proj.activity_description }}</td>
                <td>{{ proj.progress }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'organizations/snippets/pagination.html' with obj_page=projects_page query_params=filter_fields %}

    {% endif %}

{% endblock %}
