{% load django_bootstrap5 %}
<div>

   {% if not countries %}
    <p class="text-center" style="padding: 5em;">
        Организаций с такими параметрами не найдено
    </p>
    {% else %}
    <ul>
        {% for country in countries %}
        <li>
        {{ country }}
        {% if country.organization_set.all %}
            <ul>
            {% for org in country.organization_set.all %}
                <li><a href="{% url 'organization_detail' pk=org.pk %}">
                    {{ org.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>