{% load django_bootstrap5 %}
<div>
  <div>
    <div class="filter-box-wrapper" >
      <form class="row filter-box" method="get">
        {% bootstrap_field filter.form.name show_label=True layout='bootstrap_form' size='sm' wrapper_class='col-md-3 col-lg-3' %}
        {% bootstrap_field filter.form.countries show_label=True layout='floating' size='sm' wrapper_class='col-md-3 col-lg-3' %}

        <div class="col-md-3 col-lg-3 filter-box-buttons">
          <a href="?page={{ current_page }}&order_by={{ order_by }}" class="btn btn-outline-secondary btn-sm">
            <span class="bi bi-x-lg"></span>
            Сбросить
          </a>
          <button type="submit" class="btn btn-secondary btn-sm text-nowrap">
            <span class="bi bi-funnel-fill"></span>
            Применить
          </button>
        </div>
      </form>
    </div>
  </div>

  {% if not organizations_page.object_list %}
  <p class="text-center" style="padding: 5em;">
    Организации с указанными параметрами не найдены
  </p>
  {% else %}
  <table class="table table-md">
    <thead>
      <tr>
        <th scope="col">Название
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='name' current_order=current_order %}
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-name' current_order=current_order %}
        </th>
        <th scope="col">Страна
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='countries' current_order=current_order %}
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-countries' current_order=current_order %}
        </th>
        <th scope="col">Адрес
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='address' current_order=current_order %}
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-address' current_order=current_order %}
        </th>
        <th scope="col">Проекты</th>
        <th scope="col">Добавлено
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='inserted_at' current_order=current_order %}
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-inserted_at' current_order=current_order %}
        </th>
        <th scope="col">Добавил
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='inserted_by' current_order=current_order %}
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-inserted_by' current_order=current_order %}
        </th>
        <th scope="col">Изменено
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='updated_at' current_order=current_order %}
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-updated_at' current_order=current_order %}
        </th>
        <th scope="col">Изменил
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='updated_by' current_order=current_order %}
          {% include "organizations/snippets/column_sort_link.html" with page=current_page filter_fields=filter_fields order_by='-updated_by' current_order=current_order %}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for org in organizations_page.object_list %}
      <tr>
        <td><a href="{% url 'organization_detail' pk=org.pk %}" class="card-link">{{ org.name }}</a>
        </td>
        <td>{{ org.countries.all|join:", " }}</td>
        <td>{{ org.address }}</td>
        <td>
          <ul>
            {% for project in org.project_set.all %}
            <li>
              <a href="{% url 'project_detail' pk=project.pk %}" class="card-link">{{ project.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </td>
        <td class="text-muted">{{ org.inserted_at }}</td>
        <td class="text-muted">{% firstof org.inserted_by.get_full_name org.inserted_by.username %}</td>
        <td class="text-muted">{{ org.updated_at }}</td>
        <td class="text-muted">{% firstof org.updated_by.get_full_name org.updated_by.username  %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'organizations/snippets/pagination.html' with obj_page=organizations_page query_params=filter_fields %}
</div>
{% endif %}
