<div class="row page-header">
    <div class="col col-md-8">
        <h1><span class="bi {{ icon_name }} text-black-50 "></span> {{ name }}</h1>
    </div>

    {{ middle_elements }}

    <div class="col col-md-4 text-end h1-group">
        <a href="{{ button_url }}" class="btn btn-outline-primary">
            <span class="bi {% if button_name == 'Добавить' %}
            bi-plus-lg
            {% elif button_name == 'Редактировать' %}
            bi-pencil-fill
            {% endif %}">
            </span>
            {{ button_name }}
        </a>
    </div>
</div>

