{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'user_list' %}">Пользователи</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ obj.username }}</li>
      </ol>
    </nav>
  </div>
</div>

<div class="header-group">
  <div class="row">
    <div class="col">
      <h1>Пользователи</h1>
    </div>
    <div class="col col-md-auto">
      <a href="{% url 'user_edit' pk=obj.pk %}" class="btn btn-outline-primary btn-sm btn-lisnk">
        <span class="bi bi-pencil-fill"></span>
        Редактировать
      </a>
    </div>
  </div>
</div>

<div class="row detail-block">
  <div class="col">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th class="col-sm-4 col-md-3 text-truncate">Имя</th>
          <td class="col-sm-8 col-md-9">{{ obj.first_name }}</td>
        </tr>
        <tr>
          <th class="col-sm-4 col-md-3 text-truncate">Фамилия</th>
          <td class="col-sm-8 col-md-9">{{ obj.last_name }}</td>
        </tr>
        <tr>
          <th class="col-sm-4 col-md-3 text-truncate">Логин</th>
          <td class="col-sm-8 col-md-9">{{ obj.username }}</td>
        </tr>
        <tr>
          <th class="col-sm-4 col-md-3 text-truncate">Группы</th>
          <td class="col-sm-8 col-md-9">{{ obj.groups.all|join:", " }}</td>
        </tr>
        <tr>
          <th class="col-sm-4 col-md-3 text-truncate text-muted">Последний вход</th>
          <td class="col-sm-8 col-md-9 text-muted">
          {% if obj.last_login %}
            {{ obj.last_login }}
          {% endif %}
          </td>
        </tr>
        <tr>
          <th class="col-sm-4 col-md-3 text-truncate text-muted">Создан</th>
          <td class="col-sm-8 col-md-9 text-muted">{{ obj.date_joined }}</td>
        </tr>
        <tr>
          <th class="col-sm-4 col-md-3 text-trancate text-muted">Филиал</th>
          <td class="col-sm-8 col-md-9 text-trancate text-muted">
          {% if obj.profile.company_branch %}
            {{ obj.profile.company_branch }}
          {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
