{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="{% url 'user_list' %}">Пользователи</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ obj.username }}<li>
      </ol>
    </nav>
  </div>
</div>

<div class="header-group">
  <div class="row">
    <div class="col">
      <h1>Пользователи</h1>
    </div>
    <div class="col col-md-auto">
      <a href="{% url 'user_edit' pk=obj.pk %}" class="btn btn-outline-primary btn-sm btn-lisnk">
        <span class="bi bi-pencil-fill"></span>
        Редактировать
      </a>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col col-md-12 col-lg-10">
    <dl class="row">
      <dt class="col-sm-4 col-md-3 text-truncate">Фамилия</dt>
      <dd class="col-sm-8 col-md-9">{{ obj.last_name }}</dd>
      <dt class="col-sm-4 col-md-3 text-truncate">Имя</dt>
      <dd class="col-sm-8 col-md-9">{{ obj.first_name }}</dd>
      <dt class="col-sm-4 col-md-3 text-truncate">Логин</dt>
      <dd class="col-sm-8 col-md-9">{{ obj.username }}</dd>
      <dt class="col-sm-4 col-md-3 text-truncate">Группы</dt>
      <dd class="col-sm-8 col-md-9">{{ obj.groups.all|join:", " }}</dd>

      <dt class="col-sm-4 col-md-3 text-truncate text-muted">Последний вход</dt>
      <dd class="col-sm-8 col-md-9 text-muted">{{ obj.last_login }}</dd>
      <dt class="col-sm-4 col-md-3 text-truncate text-muted">Создан</dt>
      <dd class="col-sm-8 col-md-9 text-muted">{{ obj.date_joined }}</dd>
    </dl>
  </div>
</div>

{% endblock %}
