{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'user_list' %}">Пользователи</a></li>
        <li class="breadcrumb-item active" aria-current="page">Новый пользователь
        <li>
      </ol>
    </nav>
  </div>
</div>

<div class="header-group">
  <div class="row">
    <div class="col">
      <h1>Новый пользователь</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-md-8 col-lg-6">
    <form method="POST" class="post-form">{% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="save btn btn-success">
        <span class="bi bi-check-circle"></span> Сохранить
      </button>
    </form>
  </div>
</div>

{% endblock %}
