{% load django_bootstrap5 %}

<form method="POST" id="form-container" class="post-form">
{% csrf_token %}
{{ formset.management_form }}

<div class="row">
  <div class="col col-md-6">Вид</div>
  <div class="col col-md-5">Штамм</div>
  <div class="col col-md-1"></div>
</div>
<hr>
{% for form in formset %}
<div class="sample-form">
  {% if form.id %}
  {% bootstrap_field form.id %}
  {% endif %}
  {% bootstrap_field form.supply %}
  <div class="row">
    <div class="col col-md-6">
      {% bootstrap_field form.bacteria_type show_label=False size='sm' %}
    </div>
    <div class="col col-md-5">
      {% bootstrap_field form.strain show_label=False size='sm' %}
    </div>
    <div class="col col-md-1">
      {% bootstrap_field form.DELETE %}
    </div>
  </div>
</div>
{% endfor %}

<div class="row justify-content-center add-item-block">
  <div class="col">
    <button id="add-item-btn" class="btn btn-secondary btn-sm" type="button">
      <span class="bi bi-plus-lg"></span> Добавить еще пункт
    </button>
  </div>
</div>

<hr>
{% if mode != 'edit' %}
<button type="submit" class="btn btn-primary">
  Далее
</button>
{% else %}
<button type="submit" class="btn btn-success">
  Сохранить
</button>
{% endif %}

<script>
  (function () {
    let supplyContentForms = document.querySelectorAll('.sample-form')
    let container = document.querySelector("#form-container")
    let addButtonsBlock = document.querySelector(".add-item-block")
    let addButton = addButtonsBlock.querySelector("#add-item-btn")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = supplyContentForms.length - 1
    addButton.addEventListener('click', addForm)

    function addForm(e) {
      e.preventDefault()
      let newForm = supplyContentForms[0].cloneNode(true)
      let formRegex = RegExp(`form-(\\d){1}-`, 'g')
      formNum++
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
      newForm.style.display = 'block'
      hiddenFields = newForm.querySelectorAll('input[type="hidden"]');
      hiddenFields.forEach(input => {
        if (input.name.endsWith('-id')) {
          input.value = null
        }});
      container.insertBefore(newForm, addButtonsBlock)
      totalForms.setAttribute('value', `${formNum+1}`)
    }

    function delForm(form) {
      const checkbox = form.querySelector('input[type="checkbox"]')
      checkbox.checked = true
      form.style.display = 'none';
    }

    container.addEventListener('click', function(e){
      if (e.target) {
        btn = e.target.closest('.btn')
        if(btn.classList.contains('del-form-btn')) {
            e.preventDefault()
            form = btn.closest('.sample-form')
            delForm(form)
        }
      }
    });

    const createDelBtn = () => {
      let delBtn = document.createElement('button');
      let span = document.createElement('span');
      delBtn.classList.add('btn');
      delBtn.classList.add('btn-outline-danger');
      delBtn.classList.add('del-form-btn');
      delBtn.classList.add('btn-lnk');
      delBtn.classList.add('btn-sm');
      span.classList.add('bi');
      span.classList.add('bi-trash');
      delBtn.append(span)
      return delBtn
    }

    checkboxs = document.querySelectorAll('input[type="checkbox"]')
    for (ch of checkboxs) {
      formCheck = ch.closest('.form-check');
      for (elem of formCheck.children) {
        elem.style.display = 'none'
      }
      delBtn = createDelBtn()
      formCheck.append(delBtn);
    }
 })();
</script>
</form>
