{% load django_bootstrap5 %}

<form method="POST" id="form-container" class="post-form">
{% csrf_token %}
{{ formset.management_form }}

<div class="row">
  <div class="col col-md-5">Вид</div>
  <div class="col col-md-5">Штамм</div>
  <div class="col col-md-2"></div>
</div>
<hr>
{% for form in formset %}
<div class="sample-form">
  {% if form.id %}
  {% bootstrap_field form.id %}
  {% endif %}
  {% bootstrap_field form.supply %}
  <div class="row">
    <div class="col col-md-5">
      {% bootstrap_field form.bacteria_type show_label=False size='sm' %}
    </div>
    <div class="col col-md-5">
      {% bootstrap_field form.strain show_label=False size='sm' %}
    </div>
    <div class="col col-md-2">
      {% bootstrap_field form.DELETE %}
    </div>
  </div>
</div>
{% endfor %}

<div class="row justify-content-center add-item-block">
  <div class="col">
    <button id="add-item-btn" class="btn btn-secondary btn-sm" type="button">
      <span class="bi bi-plus-lg"></span> Добавить еще пункт
    </button>
  </div>
</div>

<hr>
{% if mode == 'edit' %}
<button type="submit" class="btn btn-primary">
  Далее
</button>
{% else %}
<button type="submit" class="btn btn-success">
  Сохранить
</button>
{% endif %}

<script>
  (function () {
    let supplyContentForms = document.querySelectorAll('.sample-form')
    let container = document.querySelector("#form-container")
    let addButtonsBlock = document.querySelector(".add-item-block")
    console.log(addButtonsBlock)
    let addButton = addButtonsBlock.querySelector("#add-item-btn")
    console.log(container)
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = supplyContentForms.length - 1
    addButton.addEventListener('click', addForm)

    function addForm(e) {
      e.preventDefault()
      let newForm = supplyContentForms[0].cloneNode(true)
      let formRegex = RegExp(`form-(\\d){1}-`, 'g')
      formNum++
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
      container.insertBefore(newForm, addButtonsBlock)
      totalForms.setAttribute('value', `${formNum+1}`)
    }

    function isDeleteButton(elem) {
      if (elem.tagName.toLowerCase() == 'span') {
        btn = elem.closest('button')
      } else if (elem.tagName.toLowerCase() == 'button') {
        btn = elem
      } else {
        return false
      }
      if (btn.classList.contains('btn-delete-item')) {
        return btn
      }
    }

    container.addEventListener('click', event => {
      delBtn = isDeleteButton(event.target);
      if (delBtn) {
        event.preventDefault()
        let itemForm = delBtn.closest('.sample-form')
        toDel = itemForm.querySelector('input[type="checkbox"]')
        if (!toDel.checked) {
          toDel.click()
        }
        itemForm.style.display = 'none'
      }
    })

  })();

</script>

</form>

{% comment %}
<div class="sample-form">
  {% bootstrap_field form.supply %}
  <div class="row">
    <div class="col col-md-6">
      {% bootstrap_field form.bacteria_type show_label=False size='sm' %}
    </div>
    <div class="col col-md-5">
      {% bootstrap_field form.strain show_label=False size='sm' %}
    </div>
    <div class="col col-md-1">
      {% if not forloop.first %}
      <button class="btn btn-danger btn-sm btn-delete-item">
        <span class="bi bi-trash"></span>
      </button>
      <div style="display: none">
        {% bootstrap_field form.DELETE %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endcomment %}
