<div class="card bg-light supply-detail-card">
  <div class="card-body">
    <h5 class="card-title">Детали поставки</h5>
    <dl class="row">
      <dt class="col-md-4">Откуда</dt>
      <dd class="col-md-8">
        {{ supply.source.name }}<br>
        <span class="text-muted">{{ supply.source.city.name }}</span>
      </dd>
      <dt class="col-md-4">Куда</dt>
      <dd class="col-md-8">{{ supply.dest.name }}</dd>
      {% if supply.suggested_sent_date %}
      <dt class="col-md-4">Предполагаемая дата отправки</dt>
      <dd class="col-md-8">{{ supply.suggested_sent_date }}</dd>
      {% endif %}
      {% if supply.sent_at %}
      <dt class="col-md-4">Фактическая дата отправки</dt>
      <dd class="col-md-8">{{ supply.sent_at }}</dd>
      {% endif %}
      {% if supply.suggested_num %}
      <dt class="col-md-4">Предполагаемое количество</dt>
      <dd class="col-md-8">{{ supply.suggested_num }}</dd>
      {% endif %}
      {% if supply.num %}
      <dt class="col-md-4">Количество</dt>
      <dd class="col-md-8">{{ supply.num }}</dd>
      {% endif %}
    </dl>
  </div>
</div>
