server {
    listen 80;
    server_name {{ inventory_hostname }};

    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";

    location = /favicon.ico {
        alias {{ app_path }}/static/favicon.ico;
        access_log off;
        log_not_found off;
        expires 365d;
        add_header Cache-Control "public, no-transform";
    }
    location /static/ {
        root {{ app_path }}/;
        expires 30d;
        add_header Cache-Control "public, no-transform";
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}