{% load static %}
{% load django_bootstrap5 %}
{% load startswith %}

<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>Реестр организаций</title>
  </head>
  <body>
    <header class="page-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.svg' %}"
            alt="" width="120" height="н124">
          </a>
          <a class="navbar-brand text-muted me-5" id="navbar-brand-description" href="#">
            <small>Реестр<br> организаций</small>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex me-5 ms-auto pe-5" id="search-form">
              <div class="input-group w-100">
                <input type="search" class="form-control" placeholder="Название организации или проекта"
                  aria-label="Название порганизации или роекта"
                  aria-describedby="button-addon2"
                  disabled>
                <button class="btn btn-outline-secondary"
                  type="button"
                  id="global-search-btn"
                  disabled>
                <span class="bi bi-search"></span>
                Найти
                </button>
              </div>
            </form>
            <ul class="navbar-nav me-0 ms-auto">
              {% if perms.organizations.add_organization %}
              <li>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button"
                    id="create-object-global-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    Добавить <span class="bi bi-plus-lg"><span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'organization_new' %}">Организацию</a></li>
                    <li><a class="dropdown-item" href="{% url 'project_new' %}">Проект</a></li>
                  </ul>
                </div>
              </li>
              {% endif %}
              {% if perms.admin.can_add_user %}
              <li>
                <div class="dropdown">
                  <button class="btn btn-link {% if request.path|startswith:'/users' %} btn-warning {% endif %} dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    id="settings-global-btn" alt="Настройки">
                    <span class="bi bi-gear"><span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'user_list' %}">Пользователи и группы</a></li>
                  </ul>
                </div>
              </li>
              {% endif %}
              <li>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                {% if user.is_authenticated %}
                    <div class="btn-group" role="group">
                        <button id="profile" type="button" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false"><span class="bi bi-person-circle"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="btnGroupDrop1">
                            <li><a href="#" class="dropdown-item disabled">
                              {{ user.get_full_name}} ({{ user.username }})<br>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">
                                Выйти
                                <span class="bi bi-box-arrow-right"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                  <a class="btn" href="{% url 'login' %}">Войти</a>
                {% endif %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <nav class="navbar navbar-expand-md navbar-light bg-light" id="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/' %} active {% endif %}"
                    href="{% url 'main_page' %}">
                    <span class="bi bi-collection"></span> Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path|startswith:'/organizations' %} active {% endif %}"
                    href="{% url 'organization_list' %}">
                    <span class="bi bi-building"></span> Организации</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path|startswith:'/projects' %} active {% endif %}"
                    href="{% url 'project_list' %}">
                    <span class="bi bi-box"></span> Проекты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path|startswith:'/employees' %} active {% endif %}"
                    href="{% url 'employee_list' %}">
                    <span class="bi bi-people"></span> Сотрудники</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid content">
      <div>
          {% bootstrap_messages %}
      </div>
      <div class="container-fluid">
          {% block content %}
          {% endblock %}
      </div>
    </div>



    {% comment %} <div id="search-popup-result">
      <div>
        <h1>Результаты поиска</h1>
        <ul>
          <li>
            <div class="card text-start" style="wwidth: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> {% endcomment %}

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>