{% load static %}
{% load django_bootstrap5 %}

<!doctype html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block styles %}
  <!-- Bootstrap CSS -->
  {% bootstrap_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  {% endblock %}

  <!-- Flags -->
  <link rel="stylesheet" href="{% static 'slavko/css/flags.css' %}">

  <title>●</title>
</head>

<body>
{% block content  %}
{% endblock %}
</body>

</html>
