{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="apps-links">
    <div class="row justify-content-center">
      <div class="col col-md-4">
        <a href="/organizations" class="apps-links-item">
          <span class="bi bi-building">
            Организации, ведущие разработки в области фаготерапии
          </span>
        </a>
      </div>
      <div class="col col-md-4">
        <a href="/strains_supply" class="apps-links-item">
          <span class="bi bi-box-seam">
            Поставки
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
