.page-header .navbar {
    border-bottom: 1px solid #eee;
}

.navbar .btn-link {
    text-decoration: none;
    color: #6c757d ;
}

#settings-global-btn {
    margin-left: 1.5em;
}

#navigation {
    padding-top: 0;
    padding-bottom: 0;
}

#navbar-brand-description {
    border-left: 1px solid #ddd;
    font-size: small;
    font-weight: bolder;
    line-height: 1.2em;;
    padding-left: 1em;
}

.nav-link.active {
    border-bottom: 2px solid #05b471;
}

#navigation .nav-link {
    padding: .5em 1.5em;
}

#search-form {
    z-index: 1000;
}

#search-form .input-group {
    width: 400px !important;
}

/* #search-popup-result {
    z-index: 999;
    background-color: rgba(255, 255, 255, .95);
    position: absolute;
    right: 0; left:0; top:0 ; bottom: 0;
    display: none;
}

#search-popup-result>div {
    z-index: 1000;
    margin: 7em auto;
    width: 50%;
    text-align: center;
} */

.breadcrumb {
    margin-top: 1em;
    margin-left: .2em;
    font-size: .8em;
    margin-bottom: .1em;
    color: #444;
}

